<form #utmForm="ngForm" (ngSubmit)="onSubmit(utmForm)">
<h2>
	Create UTM link
</h2>


<textarea style="min-width:400px;width:100%;">{{utm.url}}?utm_source={{utm.source}}&utm_medium={{utm.medium}}&utm_campaign={{utm.name}}&utm_term={{utm.term}}&utm_content={{utm.content}}
</textarea>


<hr>

<div class="form-group">
    <label for="exampleInputEmail1">Url</label>
    <input type="url" class="form-control" [(ngModel)]="utm.url" name="url" placeholder="Enter Campaign Url" required="true">
    <small class="form-text text-muted">
		Put url you want to share
    </small>
  </div>

 <div class="form-group">
    <label for="exampleInputEmail1">Campaign Name</label>
    <input type="text" class="form-control" [(ngModel)]="utm.name" name="name" placeholder="Enter Campaign Medium" required="true">
    <small id="emailHelp" class="form-text text-muted">
		Use it to identify a specific product promotion or strategic campaign such as a spring sale or other promotion.
    </small>
  </div>

  <div class="form-group">
    <label for="campaignSource">Campaign Source</label>
    <input type="text" class="form-control" id="campaignSource" [(ngModel)] = "utm.source" name="source" placeholder="Enter Campaign Source" required="true">
    <small id="emailHelp" class="form-text text-muted">
    	Use it to identify the source of your traffic such as: search engine, newsletter, or other referral.
    </small>
  </div>

  <div class="form-group">
    <label for="campaignMedium">Campaign Medium</label>
    <input type="text" class="form-control" id="campaignMedium" [(ngModel)]="utm.medium" name="medium" placeholder="Enter Campaign Medium" required="true">
    <small id="emailHelp" class="form-text text-muted">
    	Use it to identify the medium the link was used upon such as: email, CPC, or other method of sharing.
    </small>
  </div>

   <div class="form-group">
    <label for="campaignTerm">Campaign Term</label>
    <input type="text" class="form-control" id="campaignTerm" [(ngModel)]="utm.term" name="term" placeholder="Enter Campaign Medium" required="true">
    <small id="emailHelp" class="form-text text-muted">
    	Optional parameter suggested for paid search to identify keywords for your ad.
    </small>
  </div>

   <div class="form-group">
    <label for="campaignContent">Campaign Content</label>
    <input type="text" class="form-control" id="campaignContent" [(ngModel)]="utm.content" name="content" placeholder="Enter Campaign Medium" required="true">
    <small id="emailHelp" class="form-text text-muted">
    	 Optional parameter for additional details for A/B testing and content-targeted ads.
    </small>
  </div>

    <button type="submit" class="btn btn-primary" [disabled]="!utmForm.form.valid">Submit</button>
</form>

